# Ignore node_modules directory
node_modules/
frontendv2

# Ignore build output
dist/

# Ignore any logs or runtime data
logs/
*.log
npm-debug.log*

# Ignore environment-specific files
.env.local
.env.*.local
.env.development
.env.test
.env.production

# Ignore editor-specific files
.vscode/
*.swp
*.swo
*.swn

# Ignore build process files
.DS_Store
Thumbs.db
